<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
  <style>
            /* reset on the showcase style*/
            body .ui-panelgrid .ui-panelgrid-cell {
                background-color: transparent;
            }

            /* example use of styles for your form */
            .my-heading-row {
                background-color: var(--surface-c);
                font-weight: bold;
            }
        </style>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" />
			<p:menuitem value="Ingresos" icon="pi pi-step-forward" />
			<p:menuitem value="Egressos" icon="pi pi-step-backward" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<h:form id="form1">
            <div align="center">
                <p:panel header="Ingresar Producto">

                    <p:fieldset legend="Llene los campos" toggleable="true" collapsed="true">
                        <p:panel>
                            <p:panelGrid columns="1"
                                         columnClasses="ui-grid-col-12"
                                         layout="grid"
                                         styleClass="ui-panelgrid-blank ui-fluid"
                                         style="border:0px none; background-color:transparent;">
                                <p:row styleClass="my-heading-row" >
                                    Ingresar Producto
                                </p:row>
                            </p:panelGrid>
                            <p:panelGrid columns="4"
                                         columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
                                         layout="grid"
                                         styleClass="ui-panelgrid-blank ui-fluid"
                                         style="border:0px none; background-color:transparent;">

                                <p:outputLabel for="@next" value="ID PRODUCTO: "/>
                                <p:inputText id="a" placeholder="id-producto" value="#{beanPersona.id_persona}"
                                             required="true" requiredMessage="Ingrese el ID de producto!">
                                    <p:tooltip for="a" value="Ingrese el ID de Producto" position="bottom"/>
                                </p:inputText>

                                <p:outputLabel for="@next" value="Nombre Producto: "/>
                                <p:inputText id="b" placeholder="Producto" value="Hola"
                                             required="true" requiredMessage="Ingrese el nombre del producto!">
                                    <p:tooltip for="b" value="Ingrese el nombre del producto" position="bottom"/>
                                </p:inputText>

                                <p:outputLabel for="@next" value="Descripción:"/>
                                <p:inputText id="c" placeholder="Producto" value="Hola"
                                             required="true" requiredMessage="Ingresar la descripción del producto!">
                                    <p:tooltip for="c" value="Ingrese la descripción" position="bottom"/>
                                </p:inputText>

                                <p:outputLabel for="@next" value="Precio: "/>
                                <p:spinner id="d" placeholder="10" value="10"
                                             min="0.25" max="10" stepFactor="0.25"
                                             required="true" requiredMessage="Ingrese el precio!">
                                    <p:tooltip for="d" value="Ingrese el precio" position="bottom"/>
                                </p:spinner>
                                
                                 <p:outputLabel for="@next" value="Cantidad: "/>
                                <p:spinner id="e" placeholder="10" value="10"
                                             min="0" max="10" stepFactor="1"
                                             required="true" requiredMessage="Ingrese la cantidad!">
                                    <p:tooltip for="e" value="Ingrese la cantidad" position="bottom"/>
                                </p:spinner>

                                         
                               

                                <p:outputLabel for="@next" value="Talla: "/>
                                <p:selectOneMenu value="Hola" placeholder="Tallas">
                                    <f:selectItem itemValue="M" itemLabel="34"/>
                                    <f:selectItem itemValue="F" itemLabel="36"/>
                                </p:selectOneMenu>

                            </p:panelGrid>
                        </p:panel>
                        <div align="center">
                            <p:panel>
                                <div align="center">
                                    <p:row>
                                        <p:commandButton value="Guardar ingreso de producto" 
                                                         styleClass="p-mr-2" style="width: auto"/>
                                    </p:row>
                                </div>
                            </p:panel>
                        </div>
                    </p:fieldset>
                </p:panel>
            </div>
        </h:form>
	
	<div></div>
</body>
</html>
