<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Detalle Factura"></p:staticMessage>
	</h:form>
	<h:form>
		<p:panelGrid columns="2" styleClass="top-aligned-columns">
			<h:panelGroup>
				<div align="center">
					<h2>BOUTIQUE KLF</h2>
					<h3>Otavalo-Ecuador</h3>
				</div>
				<h:outputText value="Nombre del Cliente:" />
				<h:outputText value="#{beanVentas.cedulaClienteSeleccionado} #{beanVentas.cabecera.cliCliente.apellidoCli}" />
				
				<h:outputText value="CI:" />
				<h:outputText value="#{beanVentas.cedulaClienteSeleccionado}"/>
				<br />
				<h:outputText value="Fecha de emisión:" />
				<h:outputText value="#{beanVentas.listaFacturaCabecera}" var="cl" itemLabel="#{cl.fecha}"/>
                <br/>
                <h:outputText value="Dirección:" />
				<h:outputText value="#{beanVentas.listaFacturaCabecera}" var="cl" itemLabel="#{cl.cliCliente.provinciaCli}"/>
				<br/>
				<h:outputText value="Teléfono:" />
				<h:outputText value="#{beanVentas.listaFacturaCabecera}" var="cl" itemLabel="#{cl.cliCliente.telefonoCli}"/>
				<h:form>
					<p:dataTable value="#{beanVentas.listaDetalleVenta}" var="c">
						<p:column headerText="Cantidad">
							<h:outputText itemLabel="#{c.cantidad}"/>
						</p:column>
						<p:column headerText="Nombre">
							<h:outputText itemLabel="#{c.nombre}"/>
						</p:column>
						<p:column headerText="Descripción">
							<h:outputText itemLabel="#{c.descripcion}"/>
						</p:column>
						<p:column headerText="Precio">
							<h:outputText itemLabel="#{c.precio}"/>
							<f:facet name="footer">
								<h:outputText value="Subtotal:" /><br/>								
								<h:outputText value="Descuento:" /><br/>
								<h:outputText value="IVA:" /><br/>
								<h:outputText value="Total Apagar:" />
							</f:facet>
						</p:column>
						<p:column headerText="Total">
							<h:outputText itemLabel="#{c.total}"/>
							<f:facet name="footer">
								<h:outputText  value="#{beanVentas.total}"/><br/>								
								<h:outputText  value="#{beanVentas.descuento}"/><br/>
								<h:outputText  value="#{beanVentas.iva}"/><br/>
								<h:outputText  value="#{beanVentas.totalapagar}"/>
							</f:facet>
						</p:column>						
					</p:dataTable>
				</h:form>
			</h:panelGroup>
		</p:panelGrid>
	</h:form>


</body>
</html>

