<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head><title>Ventas</title></h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Registro Ventas" icon="pi pi-users"
				action="registroventas" />
				<p:menuitem value="Reportes de facturas" icon="pi pi-book" ajax="false"
				action="#{beanVentas.actionReporte2()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo Ventas"></p:staticMessage>
	</h:form>
	<div>
		<h:form>
			<p:panelGrid columns="2">
			<h:outputText value="Empleado:" />
				<p:selectOneMenu filterMatchMode="contains" filter="true" value="#{beanVentas.idEmpleadoSeleccionado}">
					<f:selectItem itemLabel="Seleccione empleado..."
							noSelectionOption="true" />
					<f:selectItems value="#{beanVentas.listaEmpleados}" var="c"
							itemLabel="#{c.segUsuario.apellidos} #{c.segUsuario.nombres}" itemValue="#{c.idThmEmpleado}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Cliente:" />
				<p:selectOneMenu filterMatchMode="contains" filter="true" value="#{beanVentas.cedulaClienteSeleccionado}">
					<f:selectItem itemLabel="Seleccione cliente..."
							noSelectionOption="true" />
					<f:selectItems value="#{beanVentas.listaClientes}" var="c"
							itemLabel="#{c.cedulaCli} #{c.apellidoCli} #{c.nombreCli}" itemValue="#{c.cedulaCli}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Producto:" />
				<p:selectOneMenu filterMatchMode="contains" filter="true" value="#{beanVentas.idProductoSeleccionado}">
					<f:selectItem itemLabel="Seleccione Producto..."
							noSelectionOption="true" />
					<f:selectItems value="#{beanVentas.listaProductos}" var="c"
							itemLabel="#{c.nombreProducto} #{c.descripcion} #{c.invTalla.nombreTalla}" itemValue="#{c.idProd}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Cantidad:"/>
				<p:spinner value="#{beanVentas.cantidad}" min="1" max="10" size="2"></p:spinner>
				<p:commandButton value="Agregar" update=":form2"
				actionListener="#{beanVentas.actionListenerAgregarDetalleVenta()}"/>
				<p:commandButton value="Generar factura"  icon="pi pi-save" update=":form2"
				actionListener="#{beanVentas.actionListenerGuardarVentaMultiple()}"></p:commandButton>
				
			</p:panelGrid>						
		</h:form>
		<h:form id="form2">
			<p:dataTable value="#{beanVentas.listaDetalleVenta}" var="c">
				<p:column headerText="Cantidad">
					<h:outputText value="#{c.cantidad}"/>
				</p:column>
				<p:column headerText="Nombre">
					<h:outputText value="#{c.nombre}"/>
				</p:column>
				<p:column headerText="Descripción">
					<h:outputText value="#{c.descripcion}"/>
				</p:column>
				<p:column headerText="Precio">
					<h:outputText value="#{c.precio}"/>
					<f:facet name="footer">
					<h:outputText value="Subtotal:" /><br/>
					<h:outputText value="Descuento:" /><br/>
					<h:outputText value="IVA:" /><br/>
					<h:outputText value="Total Apagar:" />
					</f:facet>
				</p:column>
				<p:column headerText="Total">
					<h:outputText value="#{c.total}" />
					<f:facet name="footer">					
						<h:outputText value="#{beanVentas.total}" /><br/>
						<h:outputText value="#{beanVentas.descuento}" /><br/>
						<h:outputText value="#{beanVentas.iva}" /><br/>
						<h:outputText value="#{beanVentas.totalapagar}" />
					</f:facet>
				</p:column>
				<p:column>
					<p:commandButton value="Eliminar" update="@form" icon="fa fa-close"
						actionListener="#{beanVentas.actionListenerElimnarProducto(c)}" />

				</p:column>
			</p:dataTable>
		</h:form>
	</div>
</body>
</html>
