<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Reporte-Registro de Facturas" icon="pi pi-book" ajax="false"
				action="#{beanVentas.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Registro de Ventas"></p:staticMessage>
	</h:form>
	<p:panel>
		<h:outputText value="Ingrese fecha: " />
		<p:inputText value="#{beanVentas.cabecera.fecha}" required="true"
			requiredMessage="Ingrese fecha" /><br/>
		<p:commandButton value="Buscar" update=":form2"
			actionListener="#{beanVentas.buscarRegistroVentaByFecha()}"></p:commandButton>

		<h:form id="form2">
			<p:dataTable value="#{beanVentas.listaFacturaCabecera}" var="f"
				paginator="true" rows="5">
				<p:column headerText="ID">
					<h:outputText value="#{f.idVenFacturaCabecera}" />
				</p:column>
				<p:column headerText="Cliente" filterBy="#{f.cliCliente.cedulaCli}"
					filterMatchMode="contains">
					<h:outputText value="#{f.cliCliente.cedulaCli}" />
				</p:column>
				<p:column headerText="Empleado"
					filterBy="#{f.thmEmpleado.segUsuario.apellidos}"
					filterMatchMode="contains">
					<h:outputText
						value="#{f.thmEmpleado.segUsuario.apellidos} #{f.thmEmpleado.segUsuario.nombres}" />
				</p:column>
				<p:column headerText="Fecha">
					<h:outputText value="#{f.fecha}" />
				</p:column>
				<p:column headerText="Subtotal">
					<h:outputText value="#{f.subtotal}" />
				</p:column>
				<p:column headerText="IVA">
					<h:outputText value="#{f.iva}" />
				</p:column>
				<p:column headerText="Descuento">
					<h:outputText value="#{f.descuento}" />
				</p:column>
				<p:column headerText="TotalApagar">
					<h:outputText value="#{f.total}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
</body>
</html>
