<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Proveedor</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Generar reporte" icon="pi pi-book" ajax="false"
					action="#{beanProveedor.actionReporte()}"/>
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
	<p:commandButton value="Registrar Proveedor" icon="pi pi-plus" id="cmdNuevo"></p:commandButton>
		<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Ruc:" />
						<h:inputText value="#{beanProveedor.nuevoProveedor.rucCompProveedor}"
							required="true" requiredMessage="Ingrese RUC" />	
					<h:outputText value="Nombre:" />
						<h:inputText value="#{beanProveedor.nuevoProveedor.nombreProve}" 
							required="true" requiredMessage="Ingrese Nombre" />
					<h:outputText value="Apellido:" />
						<h:inputText value="#{beanProveedor.nuevoProveedor.apellidoProve}" 
							required="true" requiredMessage="Ingrese Apellido" />
							<h:outputText value="Dirección:" />
						<h:inputText value="#{beanProveedor.nuevoProveedor.direccionProve}" 
							required="true" requiredMessage="Ingrese su dirección" />
					<h:outputText value="Telefono:" />
						<h:inputText value="#{beanProveedor.nuevoProveedor.telefonoProve}" 
							required="true" requiredMessage="Ingrese telefono" />
					<h:outputText value="Correo:" />
						<h:inputText value="#{beanProveedor.nuevoProveedor.correoPrive}" 
							required="true" requiredMessage="Ingrese correo" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						actionListener="#{beanProveedor.actionListenerInsertarNuevoProveedor()}"
						update="@form:,formDatos"></p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:overlayPanel>	
		<h:form id="formDatos">
		<h1>Lista de Proveedores</h1>
			<p:dataTable emptyMessage="No hay registros aún." value="#{beanProveedor.listaProveedores}" var="proveedor"
				paginator="true" rows="5">
				<p:column headerText="RUC">
					<h:outputText value="#{proveedor.rucCompProveedor}" />
				</p:column>
				<p:column headerText="APELLIDOS" filterBy="#{usuario.apellidoProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.apellidoProve}" />
				</p:column>
				<p:column headerText="NOMBRES" filterBy="#{usuario.nombreProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.nombreProve}" />
				</p:column>
				<p:column headerText="DIRECCION" filterBy="#{usuario.direccionProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.direccionProve}" />
				</p:column>
				<p:column headerText="TELEFONO" filterBy="#{usuario.telefonoProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.telefonoProve}" />
				</p:column>
				<p:column headerText="CORREO" filterBy="#{usuario.correoPrive}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.correoPrive}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						action="#{beanProveedor.actionCargarMenuProveedoresActualizar()}" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						action="#{beanProveedor.actionCargarMenuProveedorEliminar()}">
						<p:confirm header="Confirmación"
							message="Desea borrar este proveedor?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
