<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Proveedores</title>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="usuarios" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form id="formDatos">
		<h1>LISTA DE PROVEEDORES</h1>
			<p:dataTable emptyMessage="No hay registros aún." value="#{beanProveedor.listaProveedores}" var="p">
				<p:column headerText="RUC">
					<h:outputText value="#{p.rucCompProveedor}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{p.nombreProve}" />
				</p:column>
				<p:column headerText="APELLIDO">
					<h:outputText value="#{p.apellidoProve}" />
				</p:column>
				<p:column headerText="DIRECCIÓN">
					<h:outputText value="#{p.direccionProve}" />
				</p:column>
				<p:column headerText="TELEFONO">
					<h:outputText value="#{p.telefonoProve}" />
				</p:column>
				<p:column headerText="CORREO">
					<h:outputText value="#{p.correoPrive}" />
				</p:column>
				<p:column headerText="SELECCIONAR">
						<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form,:formDatos"
						actionListener="#{beanProveedor.actionCargarMenuProveedorEliminar(p.rucCompProveedor)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este registro?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	
	
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>

</body>
</html>
