<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Usuarios</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="usuarios" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
	<h:form id="formDatos">
		<h1>LISTA DE PROVEEDORES</h1>
			<p:dataTable emptyMessage="No hay registros aún." value="#{beanProveedor.listaProveedores}" var="p">
				<p:column headerText="RUC">
					<h:outputText value="#{p.rucCompProveedor}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{p.nombreProve}" />
				</p:column>
				<p:column headerText="APELLIDO">
					<h:outputText value="#{p.apellidoProve}" />
				</p:column>
				<p:column headerText="DIRECCIÓN">
					<h:outputText value="#{p.direccionProve}" />
				</p:column>
				<p:column headerText="TELEFONO">
					<h:outputText value="#{p.telefonoProve}" />
				</p:column>
				<p:column headerText="CORREO">
					<h:outputText value="#{p.correoPrive}" />
				</p:column>
				<p:column headerText="SELECCIONAR">
						<p:commandButton icon="pi pi-pencil" title="editar"
						actionListener="#{beanProveedor.actionListenerCargaProveedores(p)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion"/>
				</p:column>
			</p:dataTable>
		</h:form>
		</p:panel>
		<p:dialog header="Edición" widgetVar="dialogoEdicion">
		<h:form id="formDatos">
			<p:panelGrid columns="2" layout="grid">
				<h:outputText value="Apellidos:" />
				<p:inputText value="#{beanProveedor.nuevoProveedor.apellidoProve}"
					required="true" requiredMessage="Ingrese los apellidos" />
				<h:outputText value="Nombres:" />
				<p:inputText value="#{beanProveedor.nuevoProveedor.nombreProve}"
					required="true" requiredMessage="Ingrese los nombres" />
				<h:outputText value="Direccion:" />
				<p:inputText value="#{beanProveedor.nuevoProveedor.direccionProve}"
					required="true" requiredMessage="Ingrese su direccion" />
				<h:outputText value="Telefono:" />
				<p:inputNumber value="#{beanProveedor.nuevoProveedor.telefonoProve}"
					required="true" requiredMessage="Ingrese su telefono" />
				<h:outputText value="Correo:" />
				<p:inputText value="#{beanProveedor.nuevoProveedor.correoPrive}"
					required="true" requiredMessage="Ingrese el correo" />
					
				<p:commandButton value="Actualizar" icon="pi pi-save" update="@form,:formDatos"
					actionListener="#{beanProveedor.actionListenerActualizarEdicionProveedor()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
	
</body>
</html>
