<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Cliente</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanCliCliente.actionReporte()}" />
				
			<p:menuitem value="ACtualizar Cliente" icon="pi pi-users"
				action="#{beanCliCliente.actionCargarMenuClientesActualizar()}" />
				
			<p:menuitem value="Eliminar Cliente" icon="pi pi-users"
				action="#{beanCliCliente.actionCargarMenuClientesEliminar()}" />		
			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	
	<p:panel>
		<p:commandButton value="Registrar Cliente" icon="pi pi-user-plus" id="cmdNuevo"></p:commandButton>
		<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Cedula:" />
						<h:inputText value="#{beanCliCliente.nuevoCliente.cedulaCli}"
							required="true" requiredMessage="Ingrese cedula" />	
					<h:outputText value="Nombre:" />
						<h:inputText value="#{beanCliCliente.nuevoCliente.nombreCli}" 
							required="true" requiredMessage="Ingrese Nombre" />
					<h:outputText value="Apellido:" />
						<h:inputText value="#{beanCliCliente.nuevoCliente.apellidoCli}" 
							required="true" requiredMessage="Ingrese Apellido" />
					<h:outputText value="Telefono:" />
						<h:inputText value="#{beanCliCliente.nuevoCliente.telefonoCli}" 
							required="true" requiredMessage="Ingrese telefono" />
						
					<h:outputText value="Correo:" />
						<h:inputText value="#{beanCliCliente.nuevoCliente.correoCli}" 
							required="true" requiredMessage="Ingrese correo" />
						
					<h:outputText value="Ciudad:" />
						<h:inputText value="#{beanCliCliente.nuevoCliente.nombreCiudadCli}" 
							required="true" requiredMessage="Ingrese Ciudad" />
						<h:outputText value="Provincia:" />
						<h:inputText value="#{beanCliCliente.nuevoCliente.provinciaCli}" 
							required="true" requiredMessage="Ingrese Provincia" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						actionListener="#{beanCliCliente.actionListenerInsertarNuevoCLientev5()}"
						update="@form:,formDatos"></p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:overlayPanel>	
	
	
		<h:form id="formDatos">
		<h1>LISTA DE CLIENTES</h1>
			<p:dataTable emptyMessage="No hay registros aún." value="#{beanCliCliente.listaClientes}" var="e"
				paginator="true" rows="10">
				<p:column headerText="CEDULA" filterBy="#{e.cedulaCli}" 
					filterMatchMode="contains">
					<h:outputText value="#{e.cedulaCli}" />
				</p:column>
				<p:column headerText="NOMBRE" filterBy="#{e.nombreCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.nombreCli}"  />
				</p:column>
				<p:column headerText="APELLIDO" filterBy="#{e.apellidoCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.apellidoCli}" />
				</p:column>
				<p:column headerText="TELEFONO" filterBy="#{e.telefonoCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.telefonoCli}" />
				</p:column>
				<p:column headerText="CORREO" filterBy="#{e.correoCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.correoCli}" />
				</p:column>
				<p:column headerText="Ciudad" filterBy="#{e.nombreCiudadCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.nombreCiudadCli}" />
				</p:column>
				<p:column headerText="Provincia" filterBy="#{e.provinciaCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.provinciaCli}" />
				</p:column>
				
			</p:dataTable>
		</h:form>
	</p:panel>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>

</body>
</html>
