<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Actualizar</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="clientes" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	
	<p:panel>
		
		<h:form id="formDatos">
		<h1>LISTA DE CLIENTES</h1>
			<p:dataTable emptyMessage="No hay registros aún." value="#{beanCliCliente.listaClientes}" var="e"
				paginator="true" rows="10">
				<p:column headerText="CEDULA" filterBy="#{e.cedulaCli}" 
					filterMatchMode="contains">
					<h:outputText value="#{e.cedulaCli}" />
				</p:column>
				<p:column headerText="NOMBRE" filterBy="#{e.nombreCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.nombreCli}"  />
				</p:column>
				<p:column headerText="APELLIDO" filterBy="#{e.apellidoCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.apellidoCli}" />
				</p:column>
				<p:column headerText="TELEFONO" filterBy="#{e.telefonoCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.telefonoCli}" />
				</p:column>
				<p:column headerText="CORREO" filterBy="#{e.correoCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.correoCli}" />
				</p:column>
				<p:column headerText="Ciudad" filterBy="#{e.nombreCiudadCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.nombreCiudadCli}" />
				</p:column>
				<p:column headerText="Provincia" filterBy="#{e.provinciaCli}"
					filterMatchMode="contains">
					<h:outputText value="#{e.provinciaCli}" />
				</p:column>
				<p:column headerText="SELECCIONAR">
						<p:commandButton icon="pi pi-pencil" title="editar"
						actionListener="#{beanCliCliente.actionListenerCargarClientes(e)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion"/>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	
	<p:dialog header="Edición" widgetVar="dialogoEdicion">
		<h:form id="formEdicion">
			<p:panelGrid columns="2" layout="grid">				
				<h:outputText value="Nombre:" />
						<h:inputText value="#{beanCliCliente.actualizarCliente.nombreCli}" 
							required="true" requiredMessage="Ingrese el nombre." />
					<h:outputText value="Apellido:" />
						<h:inputText value="#{beanCliCliente.actualizarCliente.apellidoCli}" 
							required="true" requiredMessage="Ingrese el apellido." />
					<h:outputText value="Telefono:" />
						<h:inputText value="#{beanCliCliente.actualizarCliente.telefonoCli}" 
							required="true" requiredMessage="Ingrese el telefono." />
					<h:outputText value="Correo:" />
						<h:inputText value="#{beanCliCliente.actualizarCliente.correoCli}" 
							required="true" requiredMessage="Ingrese el correo." />
					<h:outputText value="Ciudad:" />
						<h:inputText value="#{beanCliCliente.actualizarCliente.nombreCiudadCli}" 
							required="true" requiredMessage="Ingrese la ciudad." />
						<h:outputText value="Provincia:" />
						<h:inputText value="#{beanCliCliente.actualizarCliente.provinciaCli}" 
							required="true" requiredMessage="Ingrese la provincia." />
		
				<p:commandButton value="Guardar" icon="pi pi-save"
					update="@form,:formDatos"
					actionListener="#{beanCliCliente.actionListenerGuardarActualizacionClientev5()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>

	
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>



</body>
</html>
